---
---

@font-face {
  font-family: 'Crimson Text';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/crimson-text.ttf")  format('truetype');
}

@font-face {
  font-family: 'Playfair Display';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/playfair-display.ttf")  format('truetype');
}
