<header class="header">
  <nav>
    <button onclick="goToPage('index')"      class="nav-button" id="logo">De Scheepsjongens.</button><!--
 --><button style="padding-right:1em;" onclick="goToPage('voorwaarden')"    class="nav-button nav-button-right"> Voorwaarden </button><!--
 --><button onclick="goToPage('contact')"    class="nav-button nav-button-right"> Contact </button><!--
 --><button onclick="goToPage('gallerij')"   class="nav-button nav-button-right"> Boot Gallerij </button><!--
 --><button onclick="goToPage('routes')"     class="nav-button nav-button-right"> Routes </button><!--
 --><button onclick="goToPage('prijzen')"    class="nav-button nav-button-right"> Prijzen </button><!--
 --><button onclick="goToPage('reserveren')" class="nav-button nav-button-right"> Reserveren </button><!--
 --><ul id="nav-dropdown">
      <li><button id="dropdown-button" class="nav-button">|||||||</button>
        <ul class="dropdown">
          <li><button onclick="goToPage('reserveren')" class="nav-button nav-dropdown-button"> Reserveren</button></li>
          <li><button onclick="goToPage('prijzen')" class="nav-button nav-dropdown-button"> Prijzen</button></li>
          <li><button onclick="goToPage('routes')" class="nav-button nav-dropdown-button"> Routes</button></li>
          <li><button onclick="goToPage('gallerij')" class="nav-button nav-dropdown-button"> Gallerij</button></li>
          <li><button onclick="goToPage('contact')" class="nav-button nav-dropdown-button"> Contact</button></li>
          <li><button onclick="goToPage('voorwaarden')" class="nav-button nav-dropdown-button"> Voorwaarden</button></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
