<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="wrapper">
      <div class="header-wrapper">
        {% include header.html %}
      </div>
      <div class="title"> <h1>Nieuws<h1> </div>
      <section id="home" class="content">
        {% for section in site.news %}
          <div class="information">
            <div class="content1">
              <h2 class="subheader head">{{ section.title }}</h2>
              {{ section.content}}
            </div>
          </div>
        {% endfor %}
      </section>
      {% include footer.html %}
    </div>
    {% include goToPage.html %}
  </body>
</html>
