<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="wrapper">
      <div class="header-wrapper">
        {% include header.html %}
      </div>
      <div class="title"> <h1>Reserveren<h1> </div>
      <section id="home" class="content">
        <div class="information">
          <div class="content1">
            <div class="centre">
              <div id="formwarning" class="centre" style="color: #0A5CA0;">
                {{ content }}
              </div>
              <input class="forminput centre" type="text" id="voornaam" name="voornaam" placeholder="Voornaam">
              <input class="forminput centre" type="text" id="achternaam" name="achternaam" placeholder="Achternaam">
              <input class="forminput centre" type="text" id="adres" name="adres" placeholder="Adres">
              <input class="forminput centre" type="email" id="email" name="email" placeholder="Email">
              <input class="forminput centre" type="text" id="woonplaats" name="woonplaats" placeholder="Woonplaats">
              <input class="forminput centre" type="tel" id="tel" name="tel" placeholder="Telefoon Nummer">
              <select class="forminput centre" id="dagdeel" name="dagdeel">
                <option value="dag"> Hele Dag (10:00 - 18.00)</option>
                <option value="ochtend"> Ochtend (10:00 - 13.00)</option>
                <option value="midday"> Middag (13:30 - 18.00)</option>
                <option value="avond"> Avond (18:30 - 21.00)</option>

              </select>
              <input autocomplete="off" type='text' class='datepicker-here forminput centre' id="date" data-language='en' placeholder="Datum" />
              <select class="forminput centre" id="boot" name="boot">
                <option style="color:grey !important;" value="" hidden>Voorkeur voor sloep (op basis van beschikbaarheid)</option>
                <option value="geen">Geen Voorkeur</option>
                <optgroup label="Elektrisch"></option>
                  <option>Oudenrijn (max. 10 personen)</option>
                  <option>Nicky (max. 10 personen)</option>
                <optgroup label="Buitenboordmotor"></option>
                  <option>Antaris (max. 7 personen)</option>
                  <option>Mythos (max. 9 personen)</option>
              </select>
              <input class="forminput centre" type="number" id="person" name="person" placeholder="Aantal Personen">
              <input class="centre" type="text" id="bericht" name="bericht" placeholder="Bericht">
              <input class="button centre" type="button" onclick="validateForm()"value="Reservering" placeholder="submit"></input>
              <p id="formwarning" class="centre" style="display:none; color: red;"> Verplichte velden zijn onjuist of leeg </p>
              <p id="formsuccess" class="centre" style="display:none; color: green;"> Bericht verzonden! We sturen verdere informatie naar het opgegeven email adres. Geen bericht ontvangen? kijk bij spam of neem contact met ons op. </p>
              <p id="contactsupport" class="centre" style="display:none; color: red;">Gelieve ons te contacteren! Er is iets fout gegaan </p>
            </div>

          </div>
        </div>
      </section>
      {% include footer.html %}
    </div>
    {% include goToPage.html %}
    <script defer src="{{site.baseurl}}/js/aws-sdk-2.361.0.min.js"> </script>
    <script defer src="{{site.baseurl}}/js/form.js"></script>
    <script src="{{site.baseurl}}/js/pikaday.js"></script>
    <script>
        function disable(date, array, string) {
          const op = document.getElementById("boot").getElementsByTagName("option");
          if (array && array.indexOf(date) !== -1) {
            var disabled = true;
          } else {
            var  disabled = false;
          }
          for (var i = 0; i < op.length; i++) {
            if (op[i].value == string) {
              op[i].disabled = disabled
            }
          }
        }
        var monthNames = ['Januari', 'Februari', 'Maart', 'April', 'Mei', 'Juni', 'Juli', 'Augutus', 'September', 'Oktober', 'November', 'December']
        var picker = new Pikaday({
          numberOfMonths: 1,
          field: document.getElementById('date'),
          firstDay: 1,
          minDate: new Date(2000, 0, 1),
          maxDate: new Date(2022, 12, 31),
          yearRange: [2000, 2022],
          i18n: {
            previousMonth: 'Vorige maand',
            nextMonth    : 'Volgende maand',
            months       : monthNames,
            weekdays     : ['Maandag', 'Dinsday', 'Woensdag', 'Dondersdag', 'Vrijdag', 'Zaterdag', 'Zondag'],
            weekdaysShort: ['Ma', 'Di', 'Wo', 'Do', 'Vr', 'Za', 'Zo']
          },
          disableDayFn: function(date) {
            var DD = ('0' + date.getDate()).slice(-2);
            var MM = ('0' + (date.getMonth() + 1)).slice(-2);
            var YYYY = date.getFullYear();
            var DDMMYYYY = DD + '/' + MM + '/' + YYYY;


            var x = document.querySelector('#boot');
            {% for date in page.nickysoldout %}
              if( DDMMYYYY == "{{ date }}" && document.querySelector('#boot').value == 'Nicky (max. 10 personen)'  ) { return date; }
            {% endfor %}

            {% for date in page.oudenrijnsoldout %}
              if( DDMMYYYY == "{{ date }}" && document.querySelector('#boot').value == 'Oudenrijn (max. 10 personen)'  ) { return date; }
            {% endfor %}

            {% for date in page.antarissoldout %}
              if( DDMMYYYY == "{{ date }}" && document.querySelector('#boot').value == 'Antaris (max. 7 personen)'  ) { return date; }
            {% endfor %}

            {% for date in page.mythossoldout %}
              if( DDMMYYYY == "{{ date }}" && document.querySelector('#boot').value == 'Mythos (max. 9 personen)'  ) { return date; }
            {% endfor %}
          },
          toString: function(date) {
            var parts = [date.getDate(), monthNames[date.getMonth()], date.getFullYear()];
            return parts.join(" ");
          },
          onSelect: function(date) {
            var DD = ('0' + date.getDate()).slice(-2);
            var MM = ('0' + (date.getMonth() + 1)).slice(-2);
            var YYYY = date.getFullYear();
            var DDMMYYYY = DD + '/' + MM + '/' + YYYY;
            const antarissoldout = [{% if  page.antarissoldout[0] %} {{ page.antarissoldout | split: " " }} {% endif %}][0]
            const oudenrijnsoldout = [ {% if  page.oudenrijnsoldout[0] %} {{ page.oudenrijnsoldout | split: " " }} {% endif %}][0]
            const mythossoldout = [{% if  page.mythossoldout[0] %} {{ page.mythossoldout | split: " " }} {% endif %}][0]
            const nickysoldout = [{% if  page.nickysoldout[0] %} {{ page.nickysoldout | split: " " }} {% endif %}][0]
            disable(DDMMYYYY, antarissoldout, "Antaris (max. 7 personen)")
            disable(DDMMYYYY, oudenrijnsoldout, "Oudenrijn (max. 10 personen)")
            disable(DDMMYYYY, mythossoldout, "Mythos (max. 9 personen)")
            disable(DDMMYYYY, nickysoldout, "Nicky (max. 10 personen)")
          }
        });
    </script>
  </body>
</html>
